{% extends "shop/index_base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
<div class="p-0 mb-3">
<h1>my cart</h1>
  {% with total_items=cart|length %}
    {% if cart|length > 0 %}
      {% for item in cart %}
        {% with product=item.product %}
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a href="{{ product.get_absolute_url }}">
                    <h5 class="card-title">{{ product.name }}&nbsp;x{{ item.quantity }}</h5>
                  </a>
                  <a href="{{ product.get_absolute_url }}">
                    <h6 class="card-title">{{ product.category }}</h6>
                  </a>
                  <p class="card-text">
                    <form class="btn-group" action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <input class="btn btn-outline-dark btn-sm" type="submit" value="update">
                    {% csrf_token %}
                    </form>
                  </p>
                  <!-- <p class="card-text">price: ${{ item.price }}</p> -->
                  <p class="card-text">item total price: ${{ item.total_price }}</p>
                  <p class="card-text"><a href="{% url 'cart:cart_remove' product.id %}" class="card-link">remove</a></p>
                </div>
              </div>
            </div>
          </div>
        {% endwith %}      
      {% endfor %}  
      <div class="text-right">
        <!-- <p class="num">flat rate shipping: &nbsp; $5.00</p> -->
        <p class="num">subtotal: &nbsp; ${{ cart.get_price_before_shipping }}</p>
      </div>
      <div class="container px-0">
        <a href="{% url 'shop:product_list' %}" class="btn btn-block btn-outline-dark">continue shopping</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-block btn-dark">checkout</a>
      </div>
    {% else %}
      <div class="container px-0">
        <p>...is empty</p>
        <a href="{% url 'shop:product_list' %}" class="btn btn-block btn-dark">continue shopping</a>
    </div>
    {% endif %}
  {% endwith %}
</div>
{% endblock %}