{% extends "shop/index_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  checkout
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">your cart</span>
      <span class="badge badge-secondary badge-pill">{{ cart.item.count }}</span>
    </h4>
    <ul class="list-group mb-3">
      {% for item in cart %}
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">{{ item.product.name }}</h6>
          <small class="text-muted">quantity: {{ item.quantity }}</small>
        </div>
        <span class="text-muted">${{ item.total_price }}</span>
      </li>
      {% endfor %}
      <li class="list-group-item d-flex justify-content-between">
        <span>total</span>
        <strong>${{ cart.get_total_price }}</strong>
      </li>
    </ul>
  </div>
  <div class="col-md-8 order-md-1">
    <form action="." method="post" class="">
      {% csrf_token %}
      <div class="text-left">
        {{ form|crispy }}
      </div>
      <p><input type="submit" value="continue to payment"></p>
    </form>
  </div>
</div>
{% endblock %}

  <!-- <h1>checkout</h1>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">your cart</span>
        <span class="badge badge-secondary badge-pill">{{ cart.length }}</span>
      </h4>
      <ul class="list-group mb-3">
        {% for item in cart %}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{ item.quantity }}x {{ item.product.name }}</h6>
            </div>
            <span class="text-muted">${{ item.total_price }}</span>
          </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <span>total </span>
          <strong>${{ cart.get_total_price }}</strong>
        </li>
      </ul>
    </div>
  </div>

<div class="col-md-8 order-md-1">
  <form action="." method="post" class="">
    {% csrf_token %}
    <div class="text-left">
      {{ form|crispy }}
    </div>
    <p><input type="submit" value="continue to payment"></p>
  </form>
</div> -->