@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css2?family=Manrope');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

body { 
    margin:0;
    padding:0;
    font-family: 'Crimson Pro', serif;
    /* font-weight: 300; */
}

h1, h2, h3, h4, h5 , h6 { 
    font-family: 'DM Serif Display', serif; 
    font-weight:400;
}

a {
    text-decoration:none;
    color:#111;
}

a:hover {
    color:#77b6e2;
}

/*
a.button, input[type="submit"] {
    color:#fff;
    background:#212529;
    font-family: 'Crimson Pro', serif;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}
*/

a.button.light {
    color:#666;
    background:#ededed;
}

.link-continue-shopping, .link-email {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #111;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #111;
}

/* Index pages */

/*
 * Base structure
 */

.index-html,
.index-body {
  height: 100%;
  background-color: #333;
}

.index-body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  width: 150px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #111;
  border-bottom-color: #111;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: #111;
}


.index-html, .index-body {
    height: 100%;
}

.index-divs {
    display: flex;
    flex-flow: row;
}
.index {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-flow: column; */
    /* background-image: url(/static/img/Bird_02.png); */
    /* background-color: #ECDDD0; */
    /* background-repeat: no-repeat; */
    position: relative;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.index-bg-img {
    

}

.index-bg {
    /* align-content: center;     */
    position: absolute;
    z-index: 1;
    /* top: 20%; */
    /* left: 6rem; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.index-header {
    display: flex;
    flex-flow: row;
}

.index-logo {
    width: 150px;
    margin-top: 40px;
}

.index-title {
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */   
    text-align: center;
    margin: 16px 0;
    position: relative;
    z-index: 3;
}

.master-logo {
    max-height: 100%;
    max-width: 75%;
}

.contact, .about {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.index-base-body {
    background-image: url('/static/img/About Page Illustrations.png') no-repeat !important;
    background-size: cover;
}

.contact-body {
    background-color: #6882A9;
    display: flex;
    flex-direction: row;
}

.about, .contact, .info {
    width: 100%;
}

.info-body {
    background-color: #9DA968;
    display: flex;
}

/*.index-title, */.about-title, .contact-title, .info-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.index-menu {
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    position: relative;
    z-index: 2;
    margin-left: 40px;
    font-size: 20px;
}

/* #index-menu a {
    display: block;
} */

.about-text-container, .contact-text-container, .info-text-container {
    /* margin: 20px 50px; */
    margin: auto 18 0px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text, .contact-text, .info-text {
    margin: auto;
    padding: 20px 20px;
}

.info-subtitle {
    margin: auto;
}

/* base.html */
.base-body {
    background-color: #fff;
}
.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#111;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

/* form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    display: block;
    width:100%;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
} */

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}


#header {
    padding:40px 0px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    /* background:#ececec; */
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    float:left; 
    color:#333;
    font-size:22px;
    width: 150px;
    margin-right:10%;
    padding-left: 100px;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#111;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#links {
    padding: 30px 20px 0 0;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px; 
    overflow:hidden;
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #111;
}

.order-info h3 {
    color:#111;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:12.5px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-item {
    padding: 3px 0 3px 100px;
}

/* Bootstrap customs */
.masthead {
    margin: 0 1rem 0 1rem;
}
.jumbotron {
    background-color: #fff;
    margin-bottom: 0;
}

/* .container {
    padding: 0;
} */

.detail-img {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

@media only screen and (max-width: 375px) {
    .index-menu {
        width: 33%;
    }

    .body {
        background-color: red;
    }
}