{% extends 'shop/index_base.html' %}
{% load static %}

{% block title %}
  about
{% endblock title %}

{% block content %}
<!-- <main role="main" class="inner cover container about-body"> -->


  <h1 class="cover-heading">about</h1>
  <p class="lead">Birdie is an online destination for handmade and vintage children’s clothing, founded by Laura Mariani and named after her daughter, Roberta Louise (Birdie Lou!). All handmade clothing is crafted from natural or vintage fabrics and all tie dyed pieces are dyed by hand using actual plants, such as avocado, onion, and beets. Our garments are produced slowly and mindfully in Brooklyn, New York with a focus on simple, versatile, and comfortable pieces.</p>
  <p class="lead">In an effort to reduce waste, some handmade styles will be made to order, so please allow 7-10 business days for production. Additionally, since many materials are vintage, we have limited quantities and sizes. Once sold out, we will no longer be able to offer that product.</p>
  <p class="lead">
    <a href="/shop/" class="btn btn-lg btn-secondary">shop now</a>
  </p>
  <!-- </main> -->
{% endblock content %}