{% extends 'shop/index_base.html' %}
{% load static %}

{% block title %}
  contact
{% endblock title %}

{% block content %}
  <h1 class="cover-heading">contact</h1>
  <p class="lead">Questions? Comments? Just want to know more? We'd love to hear from you.</p>
  <p class="lead">In an effort to reduce waste, some handmade styles will be made to order, so please allow 7-10 business days for production. Additionally, since many materials are vintage, we have limited quantities and sizes. Once sold out, we will no longer be able to offer that product.</p>
  <p class="lead">
    <a class="contact-text" href="mailto:hello@birdie-lou.com" rel="noopenner noreferrer" target="blank">hello@birdie-lou.com</a>
  </p>
{% endblock content %}    