{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}info{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
</head>
<body class="info-body">
  <div class="info">
    <div id="index-menu">
      <a href="/shop/">shop</a>
      <a href="/about">about</a>
      <a href="/contact">contact</a>
      <a href="/info">info</a>
    </div>
    <div class="info-title">
      <h1>info</h1>
    </div>
    <div class="info-text-container">
      <h2 class="info-subtitle">shipping</h2>
      <p class="info-text">Orders over $100 ship free! For orders under $100, we charge a flat rate shipping & handling fee of $8.</p>
    <!-- </div> -->
    <!-- <div class="info-text-container"> -->
      <h2 class="info-subtitle">return policy</h2>
      <p class="info-text">We hope you love your purchase, but if you're not satisfied for any reason, we are happy to take back products that are unwashed and unused with original tags within 14 days. In order to make a return please email info@birdie-lou.com for a Return Authorization. You will be responsible for return postage. Birdie Lou is not responsible for any items lost in transit.</p>
    <!-- </div> -->
    <!-- <div class="info-text-container"> -->
      <h2 class="info-subtitle">production</h2>
      <p class="info-text">In an effort to reduce waste, some handmade styles will be made to order, so please allow 7-10 business days for production. Additionally, since many materials are vintage, we have limited quantities and sizes. Once sold out, we will no longer be able to offer that product.</p>
    <!-- </div> -->
    <!-- <div class="info-text-container"> -->
      <h2 class="info-subtitle">vintage items</h2>
      <p class="info-text">All vintage items have been washed and are ready to wear!</p>
      <p class="info-text">Please remember, when buying vintage you are purchasing an item that is often 20 years old or older! These items are preloved, and while we aim to source items in excellent condition, some may show some signs of age. We do our best to represent any flaws in pictures and descriptions.</p>
      <p class="info-text">Please note, vintage sizing may be different from current sizing, so it is best to compare measurements to a similar item in your closet.</p>
    <!-- </div> -->
    <!-- <div class="info-text-container"> -->
      <h2 class="info-subtitle">care</h2>
      <p class="info-text">Machine wash on delicate cycle with cold water. Do not bleach. Lay flat in shade to dry.</p>
  </div>

</body>
</html>
    