{% extends 'shop/index_base.html' %}

{% block title %}payment{% endblock title %}

{% block content %}
<div class="container">
    <!-- <div class="row "> -->
        <!-- <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">your cart</span>
              <span class="badge badge-secondary badge-pill">{{ cart.item.count }}</span>
            </h4>
            <ul class="list-group mb-3">
              {% for item in cart %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{ item.product.name }}</h6>
                  <small class="text-muted">quantity: {{ item.quantity }}</small>
                </div>
                <span class="text-muted">$12</span>
              </li>
              {% endfor %}
              <li class="list-group-item d-flex justify-content-between">
                <span>total</span>
                <strong>${{ cart.get_total_price }}</strong>
              </li>
            </ul>
          </div> -->
      <!-- <div class="col-md-8 order-md-1"> -->
          <!-- <hr class="mb-4"> -->
    <h1 class="mb-3">payment</h1>
    <div id="paypal-button"></div>
    <div id="paypal-credit-button"></div>
        <form class="text-left" action="." id="payment" method="post">
            <div class="row">
                <div class="col mb-3">
                    <label for="card-number">Card Number</label>
                    <div id="card-number" class="form-control"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm mb-3">
                    <label for="cvv">CVV</label>
                    <div id="cvv" class="form-control"></div>
                </div>
                <div class="col-sm mb-3">
                    <label for="expiration-date">Expiration</label>
                    <div id="expiration-date" class="form-control"></div>
                </div>
            </div>
            <input type="hidden" id="nonce" name="payment_method_nonce" value="">
            {% csrf_token %}
            <input class="btn btn-dark btn-block"type="submit" value="pay">
        </form>
              <!-- <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-cvv">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
        </form> -->
    <!-- </div> -->
</div>
  <!-- Load PayPal's checkout.js Library. -->
  <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>
  <!-- Load the PayPal Checkout component. -->
  <script src="https://js.braintreegateway.com/web/3.63.0/js/paypal-checkout.min.js"></script>

  <!-- Load the required client component. -->
  <script src="https://js.braintreegateway.com/web/3.63.0/js/client.min.js"></script>
  <!-- Load Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.63.0/js/hosted-fields.min.js"></script>
  <script>
    let form = document.querySelector('#payment')
    let submit = document.querySelector('input[type="submit"]')

    braintree.client.create({
        authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
        if (clientErr) {
            console.error(clientErr)
            return
        }

        // Create a PayPal Checkout component.
        braintree.paypalCheckout.create({
          client: clientInstance
        }, function (paypalCheckoutErr, paypalCheckoutInstance) {
          // Stop if there was a problem creating PayPal Checkout.
          // This could happen if there was a network error or if it's incorrectly
          // configured.
          if (paypalCheckoutErr) {
            console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
            return;
          }

            // Set up PayPal with the checkout.js library
            paypal.Button.render({
              env: 'sandbox', // or 'production'

              payment: function () {
                return paypalCheckoutInstance.createPayment({
                  // Your PayPal options here. For available options, see
                  // http://braintree.github.io/braintree-web/current/PayPalCheckout.html#createPayment
                  flow: 'checkout', // Required
                  amount: 10.00, // Required
                  currency: 'USD', // Required
                  enableShippingAddress: true,
                  shippingAddressEditable: false,
                  shippingAddressOverride: {
                    recipientName: 'Scruff McGruff',
                    line1: '1234 Main St.',
                    line2: 'Unit 1',
                    city: 'Chicago',
                    countryCode: 'US',
                    postalCode: '60652',
                    state: 'IL',
                    phone: '123.456.7890'
                  }
                });
              },

              onAuthorize: function (data, actions) {
                return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
                  // Submit `payload.nonce` to your server.
                  // set nonce to send to server
                  document.getElementById('nonce').value = payload.nonce
                        // submit form
                  document.getElementById('payment').submit()
                });
              },

              onCancel: function (data) {
                console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
              },

              onError: function (err) {
                console.error('checkout.js error', err);
              }
        }, '#paypal-button').then(function () {
          // The PayPal button will be rendered in an html element with the id
          // `paypal-button`. This function will be called when the PayPal button
          // is set up and ready to be used.
        });

        //  // set up PayPal credit button
        //   paypal.Button.render({
        //     env: 'sandbox', // or 'production'
        //     style: {
        //       label: 'credit'
        //     },
        //     payment: function () {
        //       return paypalCheckoutInstance.createPayment({
        //         flow: 'checkout', // Required
        //         amount: 10.00, // Required
        //         currency: 'USD', // Required
        //         offerCredit: true
        //       });
        //     },
        //     onAuthorize: function (data, actions) {
        //       return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
        //         // Submit `payload.nonce` to your server
        //         // set nonce to send to server
        //         document.getElementById('nonce').value = payload.nonce
        //         // submit form
        //         document.getElementById('payment').submit()
        //       });
        //     },
        //   }, '#paypal-credit-button').then(function () {
        //   // The PayPal button will be rendered in an html element with the id
        //   // `paypal-button`. This function will be called when the PayPal button
        //   // is set up and ready to be used.;
        // });
      }),
      
      braintree.hostedFields.create({
          client: clientInstance,
          styles: {
              'input': {'font-size': '13px'},
              'input.invalid': {'color': 'red'},
              'input.valid': {'color': 'green'} 
          },
          fields: {
              number: {selector: '#card-number'},
              cvv: {selector: '#cvv'},
              expirationDate: {selector: '#expiration-date'}
          }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
          if (hostedFieldsErr) {
              console.error(hostedFieldsErr)
              return
          }

          submit.removeAttribute('disabled')

          form.addEventListener('submit', function (event) {
            event.preventDefault()

            hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
              if (tokenizeErr) {
                  console.error(tokenizeErr)
                  return
              }
                // set nonce to send to server
                document.getElementById('nonce').value = payload.nonce
                // submit form
                document.getElementById('payment').submit()
            })
        }, false)
      })
    })
  </script>
{% endblock content %}

<div class="row">
    
    <h1 class="mb-3">Pay by credit card</h1>
    <form action="." id="payment" method="post">
      <div class="col-md-6 mb-3">
          <label for="card-number">Card Number</label>
          <div id="card-number" class="field"></div>
      </div>
          <label for="cvv">CVV</label>
          <div id="cvv" class="field"></div>
  
          <label for="expiration-date">Expiration Date</label>
          <div id="expiration-date" class="field"></div>
  
      <input type="hidden" id="nonce" name="payment_method_nonce" value="">
      {% csrf_token %}
      <input type="submit" value="pay">
    </form>
  </div>